<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.dayslar.newmytalk">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!--Экраны-->
        <activity android:name=".ui.activity.LoginActivity_"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity android:name=".ui.activity.MainActivity_"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"/>

        <activity android:name=".ui.activity.RegisterActivity_"
            android:screenOrientation="portrait"/>

        <activity android:name=".ui.activity.SettingActivity_"
        android:screenOrientation="portrait"/>

        <activity android:name=".ui.activity.PinActivity_"
            android:noHistory="true"
            android:screenOrientation="portrait"/>

        <!--Ресиверы-->
        <receiver android:name=".receivers.TelephoneReceiver"
            android:enabled="true">
            <intent-filter>
                <action android:name="android.intent.action.PHONE_STATE"/>
                <action android:name="android.intent.action.NEW_OUTGOING_CALL"/>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
            </intent-filter>

        </receiver>

        <receiver android:name="com.example.dayslar.newmytalk.receivers.AdminReceiver"
            android:description="@string/app_admin_receiver_description"
            android:label="@string/app_name"
            android:permission="android.permission.BIND_DEVICE_ADMIN" >
            <meta-data
                android:name="android.app.device_admin"
                android:resource="@xml/device_admin" />

            <intent-filter>
                <action android:name="android.app.action.ACTION_DEVICE_ADMIN_DISABLED" />
                <action android:name="android.app.action.DEVICE_ADMIN_ENABLED" />
            </intent-filter>
        </receiver>

        <!--Службы-->
        <service android:name=".services.TelephonyService"
            android:enabled="true"/>

    </application>

    <!--Разрешения-->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.PROCESS_OUTGOING_CALLS" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

</manifest>
